/*

Table of contents

1. Global stuff 
2. Header stylez
3. Hot body 
4. Into feet footer stylez

*/


/* 1. Global stuff */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Quicksand:wght@300;400;500;600;700&family=Rubik+Glitch&family=Rubik:wght@900&display=swap');
 
body {
    background-color: #333; /* Dark background for a cool look */
    background-image: url(./images/abstractGeometricBackgroundWithTranslucentBlack.png);
    background-position:center;
    font-family: Oswald; /* Oswald */
    color: whitesmoke;
    overflow-x: hidden;
    padding: 40px;
    height: 100%; /* Full height */
}

.containerForEverything {
    max-height: 100vh;
    overflow-y: auto;
}



/* 2. Header stylez */ 

/* This styles the entire header, giving it some space and a cool background */
header {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0; /* Some padding to give it space */
    text-align: center; /* Centers the nav in the header */
    font-size: 18px; /* Larger font size for better readability */
    /* background-color: #333; /* Dark background for a cool look */
}

#headerLogo {
    font-family: Rubik;
    font-size: 35px;
}

/* This styles the nav element */
header nav {
    margin: 0; /* Centers the nav */
    display: inline-flex; /* Aligns the nav items horizontally */
    align-items: center;
    margin-right: 80px;
}

/* This removes the default list styling */
nav ul {
    list-style-type: none; /* Removes bullet points */
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
}

/* This styles each list item */
nav ul li {
    display: inline; /* Displays the list items inline */
    margin-right: 20px; /* Adds some space between the items */
    color: white; /* Light text color for contrast */
}

/* Change the cursor to a pointer to indicate it's clickable */
nav ul li:hover {
    cursor: pointer;
    color: #ddd; /* Lighten the color a bit when hovered */
}



/* 3. Hot body */

#websiteIntroduction {
    margin: 50vh 15vw 15vh 15vw;
    font-size: 16px;
}